<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.travelc">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="travelc"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travelc"
        tools:targetApi="31">

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NextActivity"
            android:exported="false" />
        <activity android:name=".WelcomeActivity"
            android:exported="false"/>
        <activity
            android:name=".CreateAccount"
            android:exported="false" />



        <!-- ActivityViewMore -->
        <activity
            android:name=".ActivityViewMore"
            android:exported="false"/>
        <activity
            android:name=".UserInfoActivity"
            android:exported="false" />
        <activity android:name=".CommentActivity"
            android:exported="false"></activity>




        <!-- ViewMoreActivityF -->
        <activity
            android:name=".ViewMoreActivityF"
            android:exported="false"/>

        <!-- ViewMoreActivityAmarkantak -->
        <activity
            android:name=".ViewMoreActivityAmarkantak"
            android:exported="false"/>

        <!-- ViewMoreActivityLambasingi -->
        <activity
            android:name=".ViewMoreActivityLambasingi"
            android:exported="false" />

        <!-- ViewMoreActivityYaganti -->
        <activity
            android:name=".ViewMoreActivityYaganti"
            android:exported="false" />

        <!-- Add more activities as needed -->

    </application>

</manifest>
